body
{
    text-transform: capitalize;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

 .part2a
 {
    background-color:black;
 }
 .part2b
 {
    background-color:white;
    color: black;
 }
 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style-type: none;
  }
  .poster
  {
    max-width: 100%;
    height: 100vh;
  }
  .atext
{
    
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
   
   
}
.maintext
{
  font-size: 70px;
}
.header
{
    background-color: #0a0b27;
    position: fixed;
}
@media(min-width:991px)
{
  #navbarNav
  {
    display: flex;
    justify-content: flex-end;
  }
}
  

